/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    padding-left: 16px;
    padding-right: 16px;
        background-color: #016170;
}

.logoText{
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 0 25px;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.25px;
}

.logIn{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.15px;
    font-family: 'Roboto', sans-serif;
    margin: 0px 25px;
}